{% extends '_helpers/_base.html' %}

{% block content %}
    <a href="{% url 'contacts:create' %}">
        <button>
            Create new contact
        </button>
    </a>
    <ol>
        {% for contact in object_list %}
            <li>
                <p> {{ contact.name }}
                    <span>-</span>
                    {% if contact.nationality is not None %}
                        <span> {{contact.nationality}}</span>
                    {% else %}
                        <span>(add nationality)</span>
                    {% endif %}
                    <a href="{% url 'contacts:update' pk=contact.id %}">
                            Edit
                    </a>
                    <a href="{% url 'contacts:delete' pk=contact.id %}">

                            Delete

                    </a>
                    <a href="{% url 'contacts:detail' pk=contact.id %}">
                            Details
                    </a>
                </p>
                <p>Phone number: {{ contact.number }}</p>
            </li>
        {% endfor %}
    </ol>
{% endblock %}
