{% extends '_helpers/_base.html' %}

{% block content %}
    <a href="{% url "contacts:create" %}">
        <button>
            Create
        </button>
    </a>
    <ul>
        {% for contact in object_list %}
            <li>
                <span>{{ contact.name }}</span>
                <span> - </span>
                <span>{{ contact.number }}</span>
                <span>  >>> </span>
                <span>{{ contact.created_at }}</span>
                <span> : </span>
                <span>{{ contact.modified_at }}</span>
                <a href="{% url "contacts:update" pk=contact.id %}">
                    <button>
                        Edit
                    </button>
                </a>
            <li>
        {% endfor %}
    </ul>
{% endblock %}

