#inline {
    display: inline-block;
}

.my-element-box {
    align-items: center;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: left;
    align-items: center;
    width: 1000px;
}
.my-element-style {
    align-items: center;

    display: flex;
    flex-flow: row;
    flex-direction: row;

    justify-content: left;

    width: fit-content;

    border-radius: 5px;
    border: 3px double #454b49;

    margin: .2em;

    padding: .2em;

    background-color: #207052;
    text-shadow: 1px 1px 1px #55625e;
    box-shadow: 0.1em 0.1em 0.5em #8aa89d;
}

.my-element-style:hover {
    display: flex;
    flex-flow: row;
    box-shadow: 0.1em 0.1em 0.1em #e0ece6;
}

.my-element-style .my-avatar,
.my-element-style .my-avatar > img {
    width: 3.5em;
    height: 3.5em;
}
